/*-----------------------------------
All Rights Reserved.
www.egress.club
---------
1 Typography
2
2.1 Header
2.2 Footer Section
2.3 Modals

----------------
------------------------------------*/
/*------------ 1 Typography --------------------*/
/*------ Green color -------*/
/*------ Blue color -------*/
/*------ Yellow color -------*/
/*------ Grey color -------*/
/*------ red color -------*/
/*------ General -------*/
/*------ Fonts -------*/
/*@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot);
    src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.eot);
    src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.ttf) format('truetype');
}*/
.cal-active {
  background-color: #e8a811 !important; }

.egr-no-pad {
  padding: 0px; }

::selection {
  background-color: #98CE44;
  color: #fff; }

* {
  padding: 0;
  margin: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #838383;
  padding: 0px;
  height: 100%;
  line-height: 1.8;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  margin: 0;
  overflow-x: hidden; }

.egr-text-blue {
  color: #003580; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.3;
  margin: 0 0 15px;
  color: #2d3e52;
  font-family: "Lato", sans-serif; }

ol, ul {
  list-style: none;
  margin: 0; }

section {
  height: auto; }

p, a {
  font-weight: normal;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #838383; }

a {
  text-decoration: none;
  outline: none;
  color: #2d3e52; }
  a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    outline: none; }

.btn-primary {
  margin-bottom: 10px;
  background-color: #00B7F1 !important;
  border: 3px #fff solid;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.52);
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-weight: bold; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #003580 !important;
    border-color: #FFF !important; }

.btn-green {
  background-color: #98CE44;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 0px;
  border: 3px #fff solid;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.52);
  -webkit-transition: all, 0.3s, ease;
  -moz-transition: all, 0.3s, ease;
  -ms-transition: all, 0.3s, ease;
  -o-transition: all, 0.3s, ease;
  -transition: all, 0.3s, ease;
  background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0, #99CE44), color-stop(1, #89BF38));
  background-image: -o-linear-gradient(top, #99CE44 0%, #89BF38 100%);
  background-image: -moz-linear-gradient(top, #99CE44 0%, #89BF38 100%);
  background-image: -webkit-linear-gradient(top, #99CE44 0%, #89BF38 100%);
  background-image: -ms-linear-gradient(top, #99CE44 0%, #89BF38 100%);
  background-image: linear-gradient(to top, #99CE44 0%, #89BF38 100%);
  border-radius: 3px;
  border: 3px #fff solid;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.52); }
  .btn-green i {
    margin-right: 4px; }
  .btn-green:hover, .btn-green:active, .btn-green:focus {
    background-image: none;
    background-color: #217c17; }
    .btn-green:hover i, .btn-green:active i, .btn-green:focus i {
      color: #fff; }

.btn-yellow {
  background-image: linear-gradient(to bottom, #fccb66 0%, #fabb63 100%);
  border-radius: 3px;
  color: #003580; }
  .btn-yellow:hover, .btn-yellow:active, .btn-yellow:focus {
    background-image: linear-gradient(to bottom, #fccb66 0%, #f8a532 100%); }

.btn-grey {
  color: #2d3e52;
  background-color: #D9D9D9;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 0px;
  border: 3px #fff solid;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.52);
  -webkit-transition: all, 0.3s, ease;
  -moz-transition: all, 0.3s, ease;
  -ms-transition: all, 0.3s, ease;
  -o-transition: all, 0.3s, ease;
  -transition: all, 0.3s, ease;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D9D9D9), color-stop(1, #EDEDED));
  background-image: -o-linear-gradient(bottom, #D9D9D9 0%, #EDEDED 100%);
  background-image: -moz-linear-gradient(bottom, #D9D9D9 0%, #EDEDED 100%);
  background-image: -webkit-linear-gradient(bottom, #D9D9D9 0%, #EDEDED 100%);
  background-image: -ms-linear-gradient(bottom, #D9D9D9 0%, #EDEDED 100%);
  background-image: linear-gradient(to bottom, #D9D9D9 0%, #EDEDED 100%);
  border-radius: 3px; }
  .btn-grey i {
    margin-right: 4px; }
  .btn-grey:hover, .btn-grey:active, .btn-grey:focus {
    background-image: none;
    background-color: #98CE44; }
    .btn-grey:hover i, .btn-grey:active i, .btn-grey:focus i {
      color: #fff; }

.btn {
  padding: 8px 25px; }
  .btn i {
    margin-right: 4px; }

form label {
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 1rem;
  font-family: "Lato", sans-serif; }

.input-group .form-control, .form-control, .form-group .form-control {
  width: 100%;
  height: 39px;
  padding: 5px 6px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #003580;
  background: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none; }
  .input-group .form-control:active, .form-control:active, .form-group .form-control:active {
    border: 1px solid #00B7F1; }
  .input-group .form-control:focus, .form-control:focus, .form-group .form-control:focus {
    border: 1px solid #00B7F1; }
  .input-group .form-control:hover, .form-control:hover, .form-group .form-control:hover {
    border-color: #00B7F1;
    outline: 0; }

select.form-control option {
  padding: 2px 15px;
  /*border: 1px solid #D1DCD8;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/ }

/*----------------------------------------------------------
    ----------------- textbox, button animation+style -----------
    --------------------------------------------------------
*/
.form-group, .input-group {
  margin-bottom: 15px; }

.input-group-addon {
  border-radius: 0px;
  padding: .375rem 1.05rem;
  color: #F33C3E;
  background-color: transparent;
  border: 1px solid #fff;
  border-left: 0px solid transparent;
  border-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }
  .input-group-addon i {
    color: #333; }

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid green;
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .button i {
    margin-right: 5px; }

.button:focus {
  outline: 0; }

.checkbox {
  display: inline; }

.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4a89dc;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active */
.form-control:focus ~ .bar:before, .form-control:focus ~ .bar:after {
  width: 50%; }

/* Highlight */
.highlight {
  position: absolute;
  height: 55%;
  width: 100px;
  top: 0%;
  left: 10%;
  pointer-events: none;
  opacity: 0.5; }

/* active */
.form-control:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* Animations */
@-webkit-keyframes inputHighlighter {
  from {
    background: #4a89dc; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #4a89dc; }
  to {
    width: 0;
    background: transparent; } }

/* Button modifiers */
.buttonRed {
  background-color: #F33C3E;
  text-shadow: 1px 1px 0 rgba(125, 185, 33, 0.5);
  border-bottom: 2px solid red; }

.buttonRed:hover {
  background-color: #8f0000;
  color: #FFF; }

.buttonBlue {
  background-color: #7DB921;
  text-shadow: 1px 1px 0 rgba(125, 185, 33, 0.5); }

.buttonBlue:hover {
  background-color: #98CE44;
  color: #FFF; }

/* Ripples container */
.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent; }

/* Ripples circle */
.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25); }

.ripples.is-active .ripplesCircle {
  -webkit-animation: ripples .4s ease-in;
  animation: ripples .4s ease-in; }

/*----------- Hotel Icon ---------------*/
.soap-icon-hotel:before {
  content: '\e839'; }

[class^="soap-icon"]:before, [class*=" soap-icon"]:before {
  font-family: "soap-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em; }

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'soap-icons';
  src: url("../../fonts/soap-icons.eot?26664784#iefix") format("embedded-opentype"), url("../../fonts/soap-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

[class^="soap-icon"],
[class*=" soap-icon"] {
  vertical-align: baseline; }

[class^="soap-icon"]:before,
[class*=" soap-icon"]:before {
  font-family: "soap-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em; }

/*------------- Jquery-ui DatePicker ---------------*/
.datepicker-wrap:after {
  background: none;
  color: #fdb714; }

.ui-datepicker-trigger {
  width: 30px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: transparent;
  z-index: 1;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0; }

.datepicker-wrap:after {
  display: block;
  font-family: "soap-icons";
  content: "\e86a";
  font-size: 25px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 100%;
  text-align: center;
  line-height: 34px;
  background: green; }

.datepicker-wrap.yellow:after {
  background: #fdb714; }

.datepicker-wrap.transparent:after {
  background-color: transparent;
  color: #fdb714; }

.ui-datepicker {
  width: 20em;
  padding: 0;
  display: none;
  background: #fff;
  border: 1px solid #fdb714;
  z-index: 101 !important;
  border-radius: 1px; }

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0;
  background: none !important;
  border-radius: 0px;
  border: 0px; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 0px;
  font-size: 12px;
  background: none; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 11px;
  cursor: pointer; }

.ui-datepicker .ui-datepicker-prev.ui-state-disabled,
.ui-datepicker .ui-datepicker-next.ui-state-disabled {
  visibility: hidden; }

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; }

.ui-datepicker .ui-datepicker-group {
  width: 50%;
  display: -moz-box;
  margin-top: 10px;
  margin-bottom: 20px; }

.ui-datepicker .ui-datepicker-prev:before {
  border-right: 8px solid #fff; }

.ui-datepicker .ui-datepicker-next:before {
  border-left: 8px solid #fff; }

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: none; }

.ui-datepicker th {
  padding: 0px; }

.ui-datepicker .ui-datepicker-title {
  margin: 5px;
  text-align: center;
  color: #fff;
  font-size: 1em;
  font-weight: bold; }

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month-year {
  width: 100%; }

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%; }

.ui-datepicker-year {
  color: #325C99; }

.head-cal {
  text-align: center !important;
  background-color: #E6EDF6;
  color: #325C99;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.4em 1em;
  border: 1px solid #00B7F1;
  border-bottom: 0px solid; }

.head-cal:before {
  position: absolute;
  content: "";
  top: -9px;
  left: 1%;
  border-left: 6px solid transparent;
  border-bottom: 9px solid #E5EAF2;
  border-right: 6px solid transparent;
  z-index: 9999; }

.head-cal:after {
  position: absolute;
  content: "";
  top: -10px;
  left: 0.8%;
  border-left: 7px solid transparent;
  border-bottom: 10px solid #00B7F1;
  border-right: 7px solid transparent;
  z-index: 9998; }

.ui-datepicker table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse; }

.ui-datepicker th {
  width: 30px;
  height: 22px;
  line-height: 20px; }

.ui-datepicker th span {
  display: block;
  text-align: center;
  font-size: 1.1667em;
  font-weight: normal;
  color: #AEAEAE; }

.ui-datepicker span.ui-datepicker-month {
  font-weight: bold;
  color: #2d3e52; }

.ui-datepicker .ui-datepicker-calendar td {
  vertical-align: middle;
  text-align: center; }

.ui-datepicker .ui-datepicker-calendar td a,
.ui-datepicker .ui-datepicker-calendar td span {
  color: inherit;
  display: block;
  height: 22px;
  line-height: 20px;
  padding: 2px 5px;
  text-align: center;
  color: #00B7F1; }

.ui-datepicker .ui-datepicker-calendar tr td:nth-child(1) a {
  color: #1F3580; }

.ui-datepicker .ui-datepicker-calendar td.ui-state-disabled span {
  color: #bdbdbd;
  position: relative; }

.ui-datepicker .ui-datepicker-calendar td.ui-state-disabled span:before {
  position: absolute;
  content: "";
  top: 12px;
  left: 10px;
  width: 10px;
  height: 1px;
  background: #bdbdbd; }

.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day a,
.ui-datepicker .ui-datepicker-calendar td a:hover {
  background: #FCB714;
  border-radius: 2px;
  color: #fff; }

.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a {
  position: relative; }

.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a:before {
  content: "";
  border-right: 5px solid #3498db;
  border-top: 5px solid transparent;
  position: absolute;
  bottom: 4px;
  right: 4px; }

.ui-datepicker {
  border: 1px solid #00B7F1;
  box-shadow: 0px -20px 20px rgba(0, 0, 0, 0.23); }

.ui-datepicker.yellow .ui-datepicker-header {
  background: none;
  color: #2d3e52; }

.ui-datepicker.yellow th span {
  color: #fdb714; }

.ui-datepicker.yellow .ui-datepicker-calendar td.ui-datepicker-current-day a,
.ui-datepicker.yellow .ui-datepicker-calendar td a:hover {
  background: #00B7F1; }

.ui-datepicker.yellow .ui-datepicker-calendar td.ui-datepicker-today a:before {
  border-right-color: #3498db; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 0px;
  background: none;
  font-weight: none;
  color: none; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  width: 1.6em;
  height: 1.6em;
  right: 12px;
  top: 7px;
  border-radius: 50%;
  background-color: #3498db !important; }
  .ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-prev:active, .ui-datepicker .ui-datepicker-prev:focus, .ui-datepicker .ui-datepicker-next:hover, .ui-datepicker .ui-datepicker-next:active, .ui-datepicker .ui-datepicker-next:focus {
    background-image: none !important;
    background-color: #FCB714 !important; }
    .ui-datepicker .ui-datepicker-prev:hover .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-prev:hover .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-prev:active .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-prev:active .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-prev:focus .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-prev:focus .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-next:hover .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-next:hover .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-next:active .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-next:active .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-next:focus .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-next:focus .ui-datepicker .ui-datepicker-next::before {
      background-image: none !important;
      border-left-color: #FCB714 !important; }
    .ui-datepicker .ui-datepicker-prev:hover .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-prev:hover .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-prev:active .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-prev:active .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-prev:focus .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-prev:focus .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-next:hover .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-next:hover .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-next:active .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-next:active .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-next:focus .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-next:focus .ui-datepicker .ui-datepicker-next::after {
      background-image: url(../images/cal-navi.png);
      background-image: none !important;
      border: 1px solid #FCB714 !important; }

.ui-datepicker .ui-datepicker-prev {
  left: 10px;
  top: 2px; }

.ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-next::before {
  position: absolute;
  top: 6px;
  left: 0.63em; }

.ui-datepicker .ui-datepicker-prev::before {
  left: 0.46em; }

.ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-next::after {
  position: absolute;
  content: "";
  width: 1.3em;
  height: 1.3em;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 2px;
  left: 2px; }

.ui-datepicker .ui-datepicker-group-last {
  border-right: 0px solid none !important; }

.ui-datepicker .ui-datepicker-group-first {
  border-right: 1px solid #bbb !important; }

.yellow {
  color: #FCB714; }

.blue {
  color: #00B7F1; }

.rating {
  border: none;
  float: left; }

.rating > input {
  display: none; }

.rating > label:before {
  margin: 1px;
  font-size: 0.95em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005"; }

.rating > .half:before {
  content: "\f089";
  position: absolute; }

.rating > label {
  color: #00B7F1;
  float: right;
  margin: 0px; }

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FCB714; }

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #e8a811; }

.radio {
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  margin: 0px;
  line-height: 2.2em;
  width: 100%; }

.radio:hover .inner {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: .5; }

.radio input {
  width: 1px;
  height: 1px;
  opacity: 0; }

.radio input:checked + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

.radio input:checked + .outer {
  border: 3px solid #e8a811; }

.radio input:focus + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: #e8a811; }

.radio .outer {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin-right: 10px;
  border: 2px solid #3498db;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 0.5em; }

.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 6px;
  height: 6px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: 2px;
  border-radius: 50%;
  background-color: #e8a811;
  opacity: 0; }

#map_g {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 15px; }

@media (min-width: 544px) {
  .modal-sm {
    width: 380px; } }

/*----------------- CheckBoxes -------------------*/
.lable-checkbox {
  display: block;
  position: relative;
  padding: 0.3rem 0rem;
  line-height: 15px;
  font-weight: normal;
  cursor: pointer;
  text-align: left;
  -webkit-tap-highlight-color: transparent; }

.lable-checkbox i {
  display: inline;
  height: 25px;
  position: relative;
  top: 6px;
  font-style: normal;
  color: #FCB714; }

.lable-checkbox span {
  display: inline;
  margin-left: 5px;
  vertical-align: sub;
  font-size: 14px;
  font-weight: bold;
  user-select: none; }

.label-checkbox .pull-right {
  margin-top: 3px; }

/*input[type="checkbox"] {
    display: none;
}*/
input[type="checkbox"] + i:before {
  font-family: 'FontAwesome';
  font-size: 22px;
  height: 10px;
  width: 10px;
  display: inline; }

input[type="checkbox"]:checked + i {
  position: relative; }

/*input[type="checkbox"]:checked + i + span {
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}*/
input[type="checkbox"] + i:before {
  content: "\f096"; }

input[type="checkbox"]:checked + i:before {
  content: "\f046"; }

input[type="checkbox"]:checked + i + span,
input[type="checkbox"]:checked + i:before {
  color: #7DB921; }

.circle, [class*=" soap-icon"].circle, .glyphicon.circle {
  border: 1px solid;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.7333em;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  display: inline-block;
  text-align: center; }

.egr-tooltip {
  position: relative; }

.egr-tooltip .tooltip-span {
  display: none; }

.egr-tooltip:hover .tooltip-span {
  display: block;
  position: fixed;
  /*overflow: hidden;*/
  padding: 1.5em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  width: auto;
  height: auto;
  z-index: 9999; }

.tooltip-span img {
  position: relative;
  width: auto;
  height: auto; }

.swal2-container {
  z-index: 9999; }

.swal2-overlay {
  z-index: 9998; }

.swal2-modal {
  z-index: 9999; }

.ui-autocomplete {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.22);
  background-color: #FFF;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 20px;
  min-height: 100px;
  height: 350px;
  overflow-y: auto;
  background-image: none; }

.ui-menu .ui-menu-item {
  background-color: #FFF;
  color: #003580;
  padding: 5px 5px;
  font-size: 14px;
  border-bottom: 0px solid transparent !important; }
  .ui-menu .ui-menu-item:hover, .ui-menu .ui-menu-item:active, .ui-menu .ui-menu-item:focus {
    background-color: #FBFBFB;
    text-decoration: underline; }

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
  margin: 0px !important; }

/*____________________________________________________________________________
    _______________________________________________________________________
    ________________________________________________________________________________
     
    ARABIC Typo

    ________________________________________________________________________________
    ____________________________________________________________________________________
    ________________________________________________________________________________

*/
body[dir=rtl] h1, body[dir=rtl] h2, body[dir=rtl] h3, body[dir=rtl] h4, body[dir=rtl] h5, body[dir=rtl] h6, body[dir=rtl] lable, body[dir=rtl] p, body[dir=rtl] address, body[dir=rtl] a, body[dir=rtl] input, body[dir=rtl] label, body[dir=rtl] .table, body[dir=rtl] button, body[dir=rtl] #egr-loc-1, body[dir=rtl] #egr-hotel-re .egr-hotel-re-txt p, body[dir=rtl] .card-header, body[dir=rtl] .egr-filter-fav .card-block .nav-item, body[dir=rtl] .lable-checkbox i, body[dir=rtl] .lable-checkbox, body[dir=rtl] .egr-hotel-facilities a, body[dir=rtl] .alert, body[dir=rtl] .table {
  direction: rtl;
  text-align: right;
  font-family: 'Droid Arabic Naskh' !important; }

body[dir=rtl] select {
  padding-left: 0px !important;
  padding-right: 2.5em !important; }

body[dir=rtl] input[type="number"] {
  padding-right: 1em !important; }

body[dir=rtl] #footer .nav.nav-inline .nav-item {
  float: right; }

body[dir=rtl] .breadcrumb {
  text-align: right; }

body[dir=rtl] #footer .nav.nav-inline .nav-link {
  font-size: 1.1em; }

body[dir=rtl] .left-sidebar, body[dir=rtl] .breadcrumb > li + li::before, body[dir=rtl] .breadcrumb > li {
  float: right;
  text-align: right; }

body[dir=rtl] .right-sidebar {
  float: left; }

body[dir=rtl] .egr-nav-first .navbar-brand {
  float: right !important; }

body[dir=rtl] .egr-nav-first ul.nav {
  float: left !important; }

body[dir=rtl] .sticky-header ul {
  width: 67% !important; }

body[dir=rtl] .navbar-nav .nav-item, body[dir=rtl] .search-tab li, body[dir=rtl] .left-side, body[dir=rtl] .egr-feature, body[dir=rtl] .egr-service, body[dir=rtl] .egr-service > div[class^='col-'], body[dir=rtl] .price-table, body[dir=rtl] .egr-language-list > div[class^='col-'], body[dir=rtl] .egr-lang-pad > div[class^='col-'], body[dir=rtl] footer .row > div[class^='col-'], body[dir=rtl] label, body[dir=rtl] .confirmation-details i, body[dir=rtl] .clr-text-a {
  float: right; }

body[dir=rtl] .pull-xs-right, body[dir=rtl] .pull-right, body[dir=rtl] .egr-nav-second ul.nav, body[dir=rtl] .online-payment li, body[dir=rtl] .rtl-float-left, body[dir=rtl] .right-side {
  float: left !important; }

body[dir=rtl] .egr-section-head h3, body[dir=rtl] .search-tab .nav-link, body[dir=rtl] .egr-section-head p, body[dir=rtl] button, body[dir=rtl] .btn, body[dir=rtl] .form-headding, body[dir=rtl] .heading, body[dir=rtl] .egr-clsy-box p {
  text-align: center; }

body[dir=rtl] .egr-navbar-second, body[dir=rtl] .text-xs-right {
  text-align: left !important; }

body[dir=rtl] .group label {
  left: auto;
  right: 15px; }

body[dir=rtl] .head-cal:before {
  left: auto;
  right: 9%; }

body[dir=rtl] .head-cal:after {
  left: auto;
  right: 8.8%; }

body[dir=rtl] .flexslider, body[dir=rtl] .price-table .price, body[dir=rtl] .ui-autocomplete {
  direction: ltr; }

body[dir=rtl] .egr-msrch-bg .card-block form label {
  font-size: 1em;
  color: #444;
  display: block !important;
  width: 100% !important; }

body[dir=rtl] .egr-search-card .egr-search-icon {
  right: 10px; }

body[dir=rtl] .egr-search-card input[type="text"] {
  padding-left: 0px !important;
  padding-right: 1em !important; }

body[dir=rtl] .egr-search-card .egr-srch-head2, body[dir=rtl] .egr-search-card .egr-srch-head1 {
  padding-right: 20px;
  margin-left: 10px !important; }

body[dir=rtl] .egr-search-card .input-group-addon {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-left: 1px solid #D1DCDE !important;
  border-right: unset !important; }

body[dir=rtl] .egr-search-card .input-group input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

body[dir=rtl] .egr-search-card .egr-subs h6 {
  padding-right: 3px; }

body[dir=rtl] .egr-search-card .egr-sign-section .btn {
  left: 5px;
  right: auto;
  top: 7.45%; }

body[dir=rtl] .egr-search-card .egr-toggle-signup {
  left: 10px;
  right: auto; }

body[dir=rtl] .egr-h-det .half {
  display: none; }

body[dir=rtl] .row1 .confirmation-details .fa-check-circle {
  margin-top: 6px;
  margin-right: 0px;
  margin-left: 5px; }

body[dir=rtl] .swal2-modal h2 {
  text-align: center !important; }

.in-range {
  background-color: #00B7F1; }
  .in-range a {
    color: #fff !important; }

/*----------------- 2.1 Header -----------------*/
header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9998;
  -webkit-transition: top, 0.5s, linear;
  -moz-transition: top, 0.5s, linear;
  -ms-transition: top, 0.5s, linear;
  -o-transition: top, 0.5s, linear;
  -transition: top, 0.5s, linear; }

.egr-site-content-wrapper {
  padding-top: 8em; }

@media (min-width: 1200px) {
  .egr-nav-first ul {
    /*width: 60.2%;*/ } }

.egr-nav-first {
  padding: 0px;
  position: relative;
  z-index: 9997;
  min-height: 80px; }
  .egr-nav-first .nav-item {
    text-align: center; }
    .egr-nav-first .nav-item .nav-link {
      display: block;
      padding: 20px 10px;
      text-align: center;
      line-height: 100%;
      font-weight: normal;
      color: #FFF;
      text-decoration: none;
      -webkit-transition: all .2s linear;
      transition: all .2s linear;
      font-size: 1em; }
      .egr-nav-first .nav-item .nav-link:hover, .egr-nav-first .nav-item .nav-link:active, .egr-nav-first .nav-item .nav-link:focus, .egr-nav-first .nav-item .nav-link:visited {
        color: #FCB714; }
  .egr-nav-first ul {
    margin-top: 10px;
    -webkit-transition: all, 0.3s, linear;
    -moz-transition: all, 0.3s, linear;
    -ms-transition: all, 0.3s, linear;
    -o-transition: all, 0.3s, linear;
    -transition: all, 0.3s, linear; }

.egr-nav-second {
  background-color: rgba(6, 45, 93, 0.8);
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.15);
  padding: 0px;
  z-index: 9998; }
  .egr-nav-second ul .nav-item .nav-link {
    color: #fff;
    font-size: 13px;
    font-weight: bold; }
  .egr-nav-second ul:nth-child(1) {
    padding-top: 1em; }
  .egr-nav-second .nav-item:nth-child(6) .nav-link {
    padding: 0.6rem 1.1rem; }
  .egr-nav-second .nav-item:nth-child(6) img {
    width: 25px;
    height: 24px;
    border-radius: 50%;
    margin-right: 3px; }
  .egr-nav-second .nav-item {
    position: relative; }
    .egr-nav-second .nav-item .country-flag {
      width: 18px;
      margin-top: -3px; }
    .egr-nav-second .nav-item .map-mark-m {
      width: 31px;
      height: 39px; }
    .egr-nav-second .nav-item .nav-link {
      padding: 0.4rem 1.1rem;
      border-right: 1px solid rgba(255, 255, 255, 0.07); }
      .egr-nav-second .nav-item .nav-link input {
        font-weight: bold;
        padding: 7px 10px;
        display: inline;
        border-radius: 3px; }
    .egr-nav-second .nav-item:hover .nav-link {
      color: #D9D9D9; }
    .egr-nav-second .nav-item .language_popover:before {
      position: absolute;
      content: "";
      top: -9px;
      left: 50%;
      border-left: 7px solid transparent;
      border-bottom: 10px solid #fff;
      border-right: 7px solid transparent;
      z-index: 9999; }
    .egr-nav-second .nav-item .language_popover:after {
      position: absolute;
      content: "";
      top: -11px;
      left: 49.5%;
      border-left: 8px solid transparent;
      border-bottom: 11px solid #00B7F1;
      border-right: 8px solid transparent;
      z-index: 9998; }
    .egr-nav-second .nav-item #egr-currency .selsymbol {
      font-size: 11px;
      font-weight: bold; }
    .egr-nav-second .nav-item .language_popover {
      position: absolute;
      top: 45px;
      left: -76px;
      border-radius: 3px;
      width: 200px;
      height: auto;
      background-color: #FFF;
      z-index: 9999;
      box-shadow: 0px 0px 4px 1px rgba(52, 152, 219, 0.5);
      border: 1px solid #00B7F1;
      display: none; }
      .egr-nav-second .nav-item .language_popover .popover_explain {
        font-weight: normal;
        font-size: 13px;
        color: #888;
        margin-bottom: 0.6rem;
        margin: 9px; }
      .egr-nav-second .nav-item .language_popover .select_foldout_wrap p {
        color: #e8a811;
        font-weight: bold;
        margin: 9px; }
      .egr-nav-second .nav-item .language_popover .selsymbol img {
        width: 12px;
        height: 12px; }
      .egr-nav-second .nav-item .language_popover .seldescription {
        margin-left: 5px;
        color: #00B7F1;
        font-size: 12px; }
      .egr-nav-second .nav-item .language_popover .language_flags {
        float: left;
        width: 198px;
        clear: none;
        margin: 0;
        padding: 0;
        overflow-x: hidden; }
      .egr-nav-second .nav-item .language_popover .select_foldout ul li a {
        display: block;
        float: left;
        width: 100%;
        padding: 4px 12px 4px 0;
        text-decoration: none;
        cursor: pointer;
        font-weight: normal;
        -webkit-transition: all, 0.3s, ease;
        -moz-transition: all, 0.3s, ease;
        -ms-transition: all, 0.3s, ease;
        -o-transition: all, 0.3s, ease;
        -transition: all, 0.3s, ease; }
        .egr-nav-second .nav-item .language_popover .select_foldout ul li a:hover, .egr-nav-second .nav-item .language_popover .select_foldout ul li a:active {
          background-color: #eee;
          color: #2d3e52; }
      .egr-nav-second .nav-item .language_popover .select_foldout ul li a.active {
        background-color: #00B7F1; }
        .egr-nav-second .nav-item .language_popover .select_foldout ul li a.active .seldescription {
          color: #fff; }
      .egr-nav-second .nav-item .language_popover .popover_content ul li a {
        padding: 3px 9px; }
  .egr-nav-second .li-map-mark-m .nav-link {
    padding: 0.31rem 0.7rem;
    padding-bottom: 0.8rem; }
  .egr-nav-second .li-btn-m {
    padding: 0px;
    top: 2px;
    margin-right: 1px !important;
    -webkit-transition: all, 0.3s, linear;
    -moz-transition: all, 0.3s, linear;
    -ms-transition: all, 0.3s, linear;
    -o-transition: all, 0.3s, linear;
    -transition: all, 0.3s, linear;
    z-index: 9999; }
    .egr-nav-second .li-btn-m .nav-link {
      border: 0px;
      padding: 0px; }
    .egr-nav-second .li-btn-m .btn {
      font-size: 13px;
      color: #19406f;
      box-shadow: unset; }
      .egr-nav-second .li-btn-m .btn:hover {
        background-color: #D9D9D9; }
    .egr-nav-second .li-btn-m #btn-logout {
      padding: 13px 15px 14px !important; }
    .egr-nav-second .li-btn-m:hover .nav-link {
      background-color: transparent !important; }
  .egr-nav-second .fa-heart {
    margin-right: 2px; }
  .egr-nav-second .nav-item:nth-child(1) {
    border-left: 1px solid rgba(255, 255, 255, 0.1); }
  .egr-nav-second .nav-item + .nav-item {
    margin: 0px; }
  .egr-nav-second ul .nav-item.active .nav-link {
    color: #3498db;
    background-color: #f5f5f5; }
  .egr-nav-second .navbar-brand {
    padding-top: 0.5rem; }

.hide-links {
  display: none !important; }

.header-hide {
  top: -64px; }
  .header-hide .egr-nav-second {
    box-shadow: none; }

.navbar-brand {
  padding: 0px;
  font-size: 1.85rem;
  margin-top: .5rem;
  margin-top: 2px;
  margin-bottom: 9px; }
  .navbar-brand img {
    height: 45px;
    -webkit-transition: all, 0.3s, linear;
    -moz-transition: all, 0.3s, linear;
    -ms-transition: all, 0.3s, linear;
    -o-transition: all, 0.3s, linear;
    -transition: all, 0.3s, linear; }
  .navbar-brand .soap-icon-hotel {
    float: left;
    color: #FCB714;
    margin-right: 3px; }

.hide {
  display: none; }

.sticky-header-first .li-btn-m {
  top: 62px; }

.sticky-header-first .li-btn-m .btn {
  margin-top: -9px !important; }

.sticky-header {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.31);
  background-color: #FFF;
  min-height: 40px; }
  .sticky-header .navbar-brand img {
    height: 35px; }
  .sticky-header .nav-item:not(.active) .nav-link {
    color: #00B7F1 !important; }
  .sticky-header ul {
    margin: 0px;
    width: 62%; }
  .sticky-header .nav-link {
    padding: 14px 20px 13px 0 !important;
    font-size: 1em !important; }
  .sticky-header .active .nav-link {
    color: #003580 !important; }

.egr-sp1 {
  color: #00B7F1 !important; }
  .egr-sp1 span {
    color: #98CE44 !important;
    font-family: cursive; }

.egr-sp2 {
  color: #98CE44 !important; }

.egr-sp3 {
  color: #FCB714 !important; }

/*---------------- Footer -----------------------*/
/*---------------- Footer -----------------------*/
#footer:before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  background-color: #000;
  opacity: 0.75;
  z-index: -1; }

#footer {
  height: auto;
  width: 100%;
  padding-top: 1em;
  /*background-color: #252860;*/
  background-color: rgba(7, 35, 63, 0.8);
  z-index: 1;
  position: relative;
  /*background-image: url(../images/texture_grain.png);
    background-repeat: repeat;*/ }
  #footer .egr-ft-hr {
    margin: 30px 0px;
    background-color: #DDD; }
  #footer .egr-ft-hr1 {
    background-color: #111; }
  #footer h2 {
    font-size: 1.5em;
    color: #EFEFEF; }
  #footer ul {
    list-style: none;
    padding: 0.1em 0.7em; }
  #footer .discover .d1 a {
    font-size: 1.1em;
    display: block; }
  #footer .discover .d2 a {
    font-size: 1.3em;
    font-weight: 700;
    display: block; }
  #footer .discover a {
    position: relative;
    display: block; }
    #footer .discover a:hover, #footer .discover a:active {
      color: #00B7F1; }
  #footer .discover a span {
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    margin-top: -5px; }
  #footer i.fa-map-marker {
    top: -8px; }
  #footer address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143; }
    #footer address .contact-phone {
      color: #2d3e52;
      font-size: 1.5667em; }
      #footer address .contact-phone i {
        color: #01b7f2; }
      #footer address .contact-phone span {
        color: #01b7f2; }
    #footer address span.egr-free {
      display: inline;
      font-weight: bold;
      color: #ec008c;
      font-size: 1.3em;
      color: #EC4490 !important; }
    #footer address .contact a, #footer address .about a {
      display: block; }
      #footer address .contact a:hover, #footer address .contact a:active, #footer address .about a:hover, #footer address .about a:active {
        color: #00B7F1; }
    #footer address .contact .active a, #footer address .about .active a {
      color: #00B7F1; }
  #footer .nav.nav-inline .nav-link {
    font-size: 1.2em;
    font-weight: bold;
    -webkit-transition: all, 0.3s, linear;
    -moz-transition: all, 0.3s, linear;
    -ms-transition: all, 0.3s, linear;
    -o-transition: all, 0.3s, linear;
    -transition: all, 0.3s, linear; }
    #footer .nav.nav-inline .nav-link:hover, #footer .nav.nav-inline .nav-link:focus, #footer .nav.nav-inline .nav-link:active {
      color: #e8a811; }
  #footer ul {
    list-style: none;
    padding: 0.1em 0.7em; }
  #footer a, #footer p, #footer span {
    color: #BCBCBC; }
  #footer a {
    display: block; }
    #footer a:hover, #footer a:active, #footer a:focus {
      color: #FCB714; }
    #footer a i {
      margin-right: 7px;
      color: #EEE; }
  #footer .contact-email {
    color: #00B7F1; }
    #footer .contact-email i {
      margin-right: 5px;
      font-size: 1.5em;
      display: inline;
      color: #00B7F1; }
  #footer .online-payment .nav-item {
    margin-left: 0.6rem !important; }
  #footer .copy {
    color: #00B7F1; }
  #footer .egr-foot-contact .active a {
    color: #FCB714; }
    #footer .egr-foot-contact .active a i {
      color: #FCB714; }
  #footer .egr-foot-about.nav-social .nav-item {
    margin-left: 2px;
    position: relative;
    overflow: hidden;
    height: 31px;
    -webkit-transition: all, 0.2s, ease;
    -moz-transition: all, 0.2s, ease;
    -ms-transition: all, 0.2s, ease;
    -o-transition: all, 0.2s, ease;
    -transition: all, 0.2s, ease; }
    #footer .egr-foot-about.nav-social .nav-item:hover .a1, #footer .egr-foot-about.nav-social .nav-item:focus .a1, #footer .egr-foot-about.nav-social .nav-item:active .a1 {
      margin-top: 0px; }
  #footer .egr-foot-about.nav-social .a1, #footer .egr-foot-about.nav-social .a2 {
    width: 30px;
    text-align: center;
    bottom: 0px;
    padding: 0.4em 0.15em;
    -webkit-transition: all, 0.2s, ease;
    -moz-transition: all, 0.2s, ease;
    -ms-transition: all, 0.2s, ease;
    -o-transition: all, 0.2s, ease;
    -transition: all, 0.2s, ease; }
    #footer .egr-foot-about.nav-social .a1 i, #footer .egr-foot-about.nav-social .a2 i {
      margin: 0px; }
  #footer .egr-foot-about.nav-social .a1 {
    background-color: #BCBCBC;
    margin-top: -38px; }
    #footer .egr-foot-about.nav-social .a1 i {
      color: #444; }
  #footer .egr-foot-about.nav-social .a2 {
    background-color: #3498db; }
    #footer .egr-foot-about.nav-social .a2 i {
      color: #FFF; }
  #footer .egr-foot-about.nav-social .link-facebook .a2 {
    background-color: #022b65; }
  #footer .egr-foot-about.nav-social .link-google .a2 {
    background-color: #ee5161; }
  #footer .egr-foot-about.nav-social .link-twitter .a2 {
    background-color: #3498db; }
  #footer .egr-foot-about.nav-social .link-linkedin .a2 {
    background-color: #0177B5; }
  #footer .nav-browsers img {
    width: 32px;
    cursor: default; }
  #footer .egr-brow-head {
    color: #6D7292;
    font-size: 1em;
    font-weight: bold;
    vertical-align: text-bottom;
    cursor: default; }
  #footer .egr-brow-name {
    cursor: default;
    display: block;
    color: #6D7292;
    font-size: 0.9em; }

.parsley-errors-list {
  background-color: rgba(238, 81, 97, 0.28); }
  .parsley-errors-list li {
    color: rgba(249, 59, 79, 0.84);
    padding: 1px 5px;
    font-style: italic;
    font-size: 13px;
    text-align: left !important; }

.bottom-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  -webkit-transition: all, 0.3s, ease;
  -moz-transition: all, 0.3s, ease;
  -ms-transition: all, 0.3s, ease;
  -o-transition: all, 0.3s, ease;
  -transition: all, 0.3s, ease;
  display: none; }
  .bottom-to-top a {
    display: block; }
  .bottom-to-top i {
    padding: 0.85em 0.9em;
    border-radius: 50%;
    color: #fff;
    background-color: #FCB714;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
    border: 2px solid #FCB714; }
    .bottom-to-top i:hover, .bottom-to-top i:active, .bottom-to-top i:focus {
      background-color: #e8a811; }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important; } }

/*---------------------- Modals -----------------*/
.modal {
  z-index: 9999; }
  .modal button.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: #fff;
    opacity: 1;
    z-index: 9999; }
    .modal button.close:hover {
      opacity: 0.2; }
  .modal .modal-dialog {
    margin: 70px auto; }
  .modal .modal-header {
    background-color: #FCB714; }
    .modal .modal-header h4, .modal .modal-header .button-close {
      color: #FFF; }
  .modal .nav-tabs {
    background-color: #DEDEDE; }
  .modal .user-box {
    width: 100%;
    background-color: #fff;
    text-align: center; }
  .modal h3 {
    margin-bottom: 10px; }
  .modal .egr-padding {
    padding: 0.5em 1em; }
    .modal .egr-padding .btn-facebook, .modal .egr-padding .btn-google {
      position: relative;
      padding: 6px 25px;
      width: 50%;
      text-align: center;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12); }
      .modal .egr-padding .btn-facebook i, .modal .egr-padding .btn-google i {
        position: absolute;
        padding: 5px 10px;
        border-right: 1px solid #333;
        left: -1px;
        width: 40px; }
    .modal .egr-padding .btn-facebook {
      background-color: #45619D;
      border: 1px solid #45619D;
      color: #FFF; }
      .modal .egr-padding .btn-facebook i {
        border-color: #FFF; }
      .modal .egr-padding .btn-facebook:hover, .modal .egr-padding .btn-facebook:active {
        background-color: #FFF;
        color: #45619D; }
        .modal .egr-padding .btn-facebook:hover i, .modal .egr-padding .btn-facebook:active i {
          border-color: #45619D; }
    .modal .egr-padding .btn-google {
      background-color: #EE5161;
      border: 1px solid #EE5161;
      color: #FFF; }
      .modal .egr-padding .btn-google i {
        border-color: #FFF; }
      .modal .egr-padding .btn-google:hover, .modal .egr-padding .btn-google:active {
        background-color: #FFF;
        color: #EE5161; }
        .modal .egr-padding .btn-google:hover i, .modal .egr-padding .btn-google:active i {
          border-color: #EE5161; }
    .modal .egr-padding h2 {
      font-size: 1.4em;
      text-align: left; }
    .modal .egr-padding input.form-control, .modal .egr-padding select.form-control {
      border: 1px solid #c7cfdd;
      /*box-shadow: 0px 0px 2px rgba(0,0,0,0.22);*/ }
      .modal .egr-padding input.form-control:hover, .modal .egr-padding input.form-control:active, .modal .egr-padding input.form-control:focus, .modal .egr-padding select.form-control:hover, .modal .egr-padding select.form-control:active, .modal .egr-padding select.form-control:focus {
        border-color: #a4afc2; }
  .modal .tab-content, .modal .modal-content {
    padding: 0px; }
  .modal .tab-pane {
    padding: 1em; }
  .modal .egr-modal-line-or span:before {
    content: "";
    left: 17px;
    right: inherit;
    bottom: 0px;
    width: 170px;
    height: 1px;
    border-top: 1px dashed #999999;
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 50%;
    margin-top: -3px; }
  .modal .egr-modal-line-or span:after {
    content: "";
    left: inherit;
    right: 17px;
    bottom: 0;
    width: 170px;
    height: 1px;
    border-top: 1px dashed #999999;
    position: absolute;
    top: 50%;
    margin-top: -3px; }
  .modal .modal-footer {
    border-top: 1px solid #D1DCD8;
    text-align: center; }
    .modal .modal-footer p {
      color: #2d3e52; }
      .modal .modal-footer p a {
        color: #00B7F1;
        text-decoration: underline; }
        .modal .modal-footer p a:hover {
          color: #3498db; }

